<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API DICTIONARY</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header base-color">
        <div class="title base-color"><a href="/">api dictionary</a></div>
        <nav class="menu">
            <ul class="menu-ul">
                <li class="menu-items base-color"><a href="#doc">doc</a></li>
                <li class="menu-items base-color"><a href="#example">examples</a></li>
                <li class="menu-items base-color"><a href="#routers">Routers</a></li>
                <li class="menu-items base-color"><a href="#creator">creator</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">

        
        <section id="doc">
            <header class="section-title">
                <h1>Documentation</h1>
            </header>
        </section>
        
        <section id="example">
            <header class="section-title">
                <h1>Example</h1>
            </header>
        </section>
        
        <section id="routers">
            <header class="section-title">
                <h1>About api</h1>
            </header>
        </section>

        <section id="creator">
            <header class="section-title">
                <h1>Creator</h1>
            </header>
        </section>

    </main>
</body>
</html>