DateTime==4.3
  - pytz [required: Any, installed: 2021.1]
  - zope.interface [required: Any, installed: 5.4.0]
    - setuptools [required: Any, installed: 56.0.0]
Flask==2.0.1
  - click [required: >=7.1.2, installed: 8.0.1]
  - itsdangerous [required: >=2.0, installed: 2.0.1]
  - Jinja2 [required: >=3.0, installed: 3.0.1]
    - MarkupSafe [required: >=2.0, installed: 2.0.1]
  - Werkzeug [required: >=2.0, installed: 2.0.1]
gunicorn==20.1.0
  - setuptools [required: >=3.0, installed: 56.0.0]
mldictionary==0.1.6
  - beautifulsoup4 [required: >=4.9.3, installed: 4.9.3]
    - soupsieve [required: >1.2, installed: 2.2.1]
  - requests [required: >=2.25.1, installed: 2.25.1]
    - certifi [required: >=2017.4.17, installed: 2021.5.30]
    - chardet [required: >=3.0.2,<5, installed: 4.0.0]
    - idna [required: >=2.5,<3, installed: 2.10]
    - urllib3 [required: >=1.21.1,<1.27, installed: 1.26.5]
nltk==3.6.2
  - click [required: Any, installed: 8.0.1]
  - joblib [required: Any, installed: 1.0.1]
  - regex [required: Any, installed: 2021.4.4]
  - tqdm [required: Any, installed: 4.61.1]
pep517==0.10.0
  - toml [required: Any, installed: 0.10.2]
python-dotenv==0.17.1
