* {
    border: 0;
    margin: 0;
    box-sizing: content-box;
}

ol, ul, li{list-style: none;}
a{
    text-decoration: none;
    color: #000;
}


/* Header */

.base-color{
    background-color: #4f4;
}

.header{
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;

}

.header .title a{
    font-size: 2em;
    text-transform: uppercase;
}

.menu{
    width: 70%;
}

.menu-ul{
    display: flex;
    justify-content: space-between;
    /* flex: 2, 1, 1; */
}


.menu-ul .menu-items a{
    padding: 30px 70px; 
    border-left: 2px solid #fff;
    text-transform: uppercase;

}

.menu-ul .menu-items a:hover{
    color: #eee
}

/* section */

section{
    height: 500px;
}

.section-title h1{
    text-align: center; 
    margin-top: 30px;
}

